<%- include('../layouts/header', { title: 'Pinturas List' }) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="alert alert-success text-center">Pinturas List</h1>
    </div>

    <div class="row">
      <form class="row g-3 align-items-center my-3" id="search-form" action="/pinturas" method="get">
        <div class="col-auto">
          <label for="search" class="col-form-label">Filtrar por título</label>
        </div>
        <div class="col-auto">
          <input type="text" id="search" name="search" class="form-control" value="<%= search %>">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-secondary">Buscar</button>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Nombre Artista</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Técnica</th>
              <th scope="col">Dimensiones</th>
              <th scope="col">Estilo</th>
              <th scope="col">Colecciones</th>
              <th scope="col">Valoración</th>
              <th scope="col" class="text-center">Eliminar</th>
              <th scope="col" class="text-center">Actualizar</th>
            </tr>
          </thead>
          <tbody>
            <% pinturas.map(pintura => {%>
            <tr>
              <th scope="row"><%= pintura.titulo %></th>
              <td><%= pintura.nombre %></td>
              <td><%= pintura.fecha_inicio %> - <%= pintura.fecha_fin%></td>
              <td><%= pintura.tecnica %></td>
              <td>Alto: <%= pintura.altura %> <%= pintura.unidad ? 'm' : 'cm' %> Ancho:<%= pintura.anchura %> <%= pintura.unidad ? 'm' : 'cm' %></td>
              <td><%= pintura.estilo %></td>
              <td><%= pintura.colecciones %></td>
              <td>Críticos: <%= pintura.valoracion_criticos %> Usuarios: <%= pintura.valoracion_usuarios %></td>
              <td class="text-center">
                <form action="/pinturas/delete/<%= pintura.id %>" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta pintura?')">
                  <button type="submit" class="btn btn-outline-danger">❌</button>
                </form>
              </td>
              <td class="text-center">
                <a href="/pinturas/update/<%= pintura.id %>" class="btn btn-outline-danger">✏️</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row col-12 d-grid">
      <a href="/pinturas/create" class="btn btn-outline-secondary">Crear una nueva pintura</a>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const urlParams = new URLSearchParams(window.location.search);
    const mensaje = urlParams.get('mensaje');

    if (mensaje === 'actualizado') {
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'La pintura ha sido actualizada',
        showConfirmButton: false,
        timer: 1500
      });

      // Eliminar el parámetro de consulta
      setTimeout(() => {
        urlParams.delete('mensaje');
        history.replaceState({}, '', `${location.pathname}?${urlParams}`);
      }, 100);
    }
  });

  document.addEventListener('DOMContentLoaded', (event) => {
    const urlParams = new URLSearchParams(window.location.search);
    const mensaje = urlParams.get('mensaje');

    if (mensaje === 'eliminado') {
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'La pintura ha sido eliminada',
        showConfirmButton: false,
        timer: 1500
      });

      // Eliminar el parámetro de consulta
      setTimeout(() => {
        urlParams.delete('mensaje');
        history.replaceState({}, '', `${location.pathname}?${urlParams}`);
      }, 100);
    }
  });
</script>
<%- include('../layouts/footer') %>
