<%- include('../layouts/header', { title: 'Actualizar Usuario' }) %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="alert alert-success text-center">Actualizar Usuario</h1>
    </div>

    <div class="col-12 mt-4">
      <!-- Formulario para actualizar un usuario -->
      <form action="pinturas/usuarios/update/<%= user.id %>" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de Usuario</label>
          <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Nueva Contraseña</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-warning">Actualizar Usuario</button>
      </form>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
